</div>
<footer class="footer">
    <div class="block_inner">
        <div class="footer_top">
            <div class="phone">
                <a href="tel:+38 (093) 75-85-075">+38 (093) 75-85-075</a>
            </div>
            <div class="email">
                <a href="mailto:sharm.khmelnitsky@gmail.com">sharm.khmelnitsky@gmail.com</a>
            </div>
            <div class="social_block">
                <a href="">
                    <img src="files/ins.svg" alt="">
                </a>
                <a href="">
                    <img src="files/face.svg" alt="">
                </a>
                <a href="">
                    <img src="files/tiktok.svg" alt="">
                </a>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="copy">sharmkhm.com © 2023</div>
        </div>
    </div>
</footer>
</div>
<div class="block_popop_modal cart_modal">
    <div class="block_popop_modal_inner">
        <div class="title">Ваше замовлення</div>
        <div class="close_btn"></div>
        <div class="cart_modal_in">
            <div class="cart_item_block">
                <div class="product-remove">
                    <a href="#" class="remove">×</a>
                </div>
                <div class="product-thumbnail">
                    <a href="#">
                        <img src="files/product_img4.jpg" alt="" class="cart-item-thumbnail" width="80" height="120">
                    </a>
                </div>
                <div class="product-detals_right">
                    <div class="product-name" data-title="Товар">
                        <a href="#s">Худі на замку, смарагд</a>
                    </div>
                    <div class="product-detals_inner">
                        <div class="params_block_list">
                            <ul>
                                <li>
                                    <span class="matching_name">Розмір:</span><span class="matching_value">XS</span>
                                </li>
                            </ul>
                        </div>
                        <div class="product-quantity">
                            <div class="quantity">
                                <button type="button" class="plus"></button>
                                <input type="text" value="1" class="input-text qty text" size="4">
                                <button type="button" class="minus"></button>
                            </div>
                        </div>
                        <div class="product-subtotal">
                            <div class="old_price">1000 грн</div>
                            <div class="current_price">800 грн</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart_item_block">
                <div class="product-remove">
                    <a href="#" class="remove">×</a>
                </div>
                <div class="product-thumbnail">
                    <a href="#">
                        <img src="files/product_img4.jpg" alt="" class="cart-item-thumbnail" width="80" height="120">
                    </a>
                </div>
                <div class="product-detals_right">
                    <div class="product-name" data-title="Товар">
                        <a href="#s">Худі на замку, смарагд</a>
                    </div>
                    <div class="product-detals_inner">
                        <div class="params_block_list">
                            <ul>
                                <li>
                                    <span class="matching_name">Розмір:</span><span class="matching_value">XS</span>
                                </li>
                            </ul>
                        </div>
                        <div class="product-quantity">
                            <div class="quantity">
                                <button type="button" class="plus"></button>
                                <input type="text" value="1" class="input-text qty text" size="4">
                                <button type="button" class="minus"></button>
                            </div>
                        </div>
                        <div class="product-subtotal">
                            <div class="old_price">1000 грн</div>
                            <div class="current_price">800 грн</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart_totals">
            <span>Сума замовлення:</span>
            <span class="t_value">1600 грн</span>
        </div>
        <div class="cart_mini_form">
            <form action="">
                <div class="form_inner">
                    <div class="field">
                        <div class="field_name">Ваше ПІБ</div>
                        <input type="text" placeholder="Коваленко Валерія Василівна">
                    </div>
                    <div class="field">
                        <div class="field_name">Ваш телефон</div>
                        <input type="text" placeholder="+380">
                    </div>
                    <div class="btn_button border close_btn">продовжити покупки</div>
                    <input type="button" value="оформити замовлення" class="btn_button">
                </div>
            </form>
        </div>
    </div>
</div>
<script src="js/swiper-bundle.min.js"></script>
<script src="js/lightgallery-all.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>