<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Тайтл</title>
	<link rel="stylesheet" href="css/swiper-bundle.min.css">
	<link rel="stylesheet" href="css/lightgallery.css">
	<link rel="stylesheet" href="css/main.css">
	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous" ></script>
</head>
<body>
<div class="site_wrapper">
	<header class="header">
		<div class="block_inner">
			<div class="logo">
				<a href="/">
					<img src="files/logo.svg" alt="">
				</a>
			</div>
			<div class="phone">
				<a href="tel:+38 (093) 75-85-075">+38 (093) 75-85-075</a>
			</div>
			<div class="cart_mini">
				<div class="cart_mini_count">1</div>
			</div>
		</div>
	</header>
	<div class="content_block_wr">			
	