include _header.jade
<div class="card_page_block">
    <div class="block_inner">
        <div class="image_product">
            <div class="inner">
                <div class="thumbs_image">
                    <div class="swiper mySwiper_thumb">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="files/image1.jpg" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="files/product_img1.jpg" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="files/product_img2.jpg" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="files/product_img3.jpg" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="files/product_img4.jpg" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="files/product_img4.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main_image">
                    <div class="label">топ продажів</div>
                    <div class="swiper mySwiper_main">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="files/image1.jpg">
                                    <img src="files/image1.jpg" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="files/product_img1.jpg">
                                    <img src="files/product_img1.jpg" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="files/product_img2.jpg">
                                    <img src="files/product_img2.jpg" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="files/product_img3.jpg">
                                    <img src="files/product_img3.jpg" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="files/product_img4.jpg">
                                    <img src="files/product_img4.jpg" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="files/product_img4.jpg">
                                    <img src="files/product_img4.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right_product">
            <h1>Костюм на замку, графіт</h1>
            <div class="price">
                <div class="current_price">800 грн</div>
                <div class="old_price">1000 грн</div>
            </div>
            <div class="variations">
                <div class="label">
                    <label class="variation_label" for="pa_rozmir">
                        <span class="label_text">Виберіть розмір:<span class="field_check"></span>
                        </span>
                        <div class="table_size">Таблиця розмірів</div>
                    </label>
                    <span class="xt_woovs-attribute-value"></span>
                </div>
                <div class="value size_value_wr">
                    <ul class="xt_woovs-swatches">
                        <li class="swatch swatch-label swatch-xs" title="XS" data-value="xs">
                            <span class="swatch-inner swatch-label-inner">XS</span>
                        </li>
                        <li class="swatch swatch-label swatch-s" title="S" data-value="s">
                            <span class="swatch-inner swatch-label-inner">S</span>
                        </li>
                        <li class="swatch swatch-label swatch-m" title="M" data-value="m">
                            <span class="swatch-inner swatch-label-inner">M</span>
                        </li>
                        <li class="swatch swatch-label swatch-l" title="L" data-value="l">
                            <span class="swatch-inner swatch-label-inner">L</span>
                        </li>
                        <li class="swatch swatch-label swatch-xl" title="XL" data-value="xl">
                            <span class="swatch-inner swatch-label-inner">XL</span>
                        </li>
                        <li class="swatch swatch-label swatch-xxl" title="XXL" data-value="xxl">
                            <span class="swatch-inner swatch-label-inner">XXL</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="add_cart btn_button">замовити</div>
            <div class="body_text">
                <div class="name_body">опис товару</div>
                <div class="body">Максимально зручне худі на замку, яке потурбується про ваш комфорт! Найголовніші деталі: подвійний капюшон, міцний світлий замок, кишені та резинки на рукавах, виконані з матеріалу “рібана”. Тканина найкращої якості, яка випробувана роками! Турецька трьохнитка на флісі – це дуже теплий матеріал, який наче огортає вас теплими обіймами.</div>
            </div>
            <ul class="params_product">
                <li>
                    <div class="name">Матеріал:</div>
                    <div class="value">трьохнитка на флісі</div>
                </li>
                <li>
                    <div class="name">Cклад:</div>
                    <div class="value">90% бавовни, 10% поліестеру</div>
                </li>
            </ul>
            <div class="update_btn">
                <span>Діє обмін та повернення протягом 14 днів.</span>
            </div>
        </div>
    </div>
</div>
<div class="block_popop_modal table_block_fixed">
    <div class="block_popop_modal_inner">
        <div class="close_btn"></div>
        <div class="block_in">
            <img src="files/IMG_4662-scaled.jpg" alt="">
        </div>
    </div>
</div>
include _footer_inner.jade