include _header.jade
	<div class="categor_block">
		<div class="block_inner">
			<div class="title">Обери костюм, який сподобався</div>
			<div class="inner">
				<a href="#" class="item">
					<span class="label">топ продажів</span>
					<img src="files/image_cat1.jpg" width="350" height="520" alt="">
					<span class="name">Костюм з худі</span>
				</a>
				<a href="#" class="item">
					<span class="label">топ продажів</span>
					<img src="files/image_cat2.jpg" width="350" height="520" alt="">
					<span class="name">Костюм на замку</span>
				</a>
			</div>
		</div>
	</div>
	<div class="form_block_wr">
		<div class="block_inner">
			<form action="">
				<div class="inner">
					<div class="input_field">
						<div class="flag"></div>
						<div class="kod"><input type="text" value="+380" readonly></div>
						<input type="text" placeholder="(99) 999-99-99">
					</div>
					<input type="button" value="підібрати розмір" class="btn_button">
				</div>
			</form>
		</div>
	</div>
	<div class="big_image_wr">
		<img src="files/banner-img.jpg" alt="">
	</div>
include _footer.jade